---
layout: default
title: Latest News
---
{% for post in site.posts limit: 7 %}
<article>
	<header>
		<h2><a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></h2>
		<time datetime="{{post.date|date: "%F"}}">{{ post.date|date: "%y-%d-%m"}}</time>
		<span class="category">{{post.categories | category_links}}</span>
		<span class="author"> {% if post.author %}{{post.author}}{% else %}{{site.author}}{% endif%}</span>
	</header>
	<div class="entry">{{post.excerpt}}</div>
</article>
{% endfor %}

