body {
	margin: 0;
	background-color: #CCC;
	font-family: Times New Roman, Times, serif;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

code {
	font-family: Lucida Console, Monospace;
	display: inline-block;
}

code.c {
	background-color: #444;
	box-shadow: 0 0 6px #333;
	padding: 1em;
}

div.main {
	background-color: #DAE0E5;
	padding-bottom: 1em;
	border-bottom: 1px solid #eaeaea;
	margin-left: auto;
	margin-right: auto;
	max-width: 880px;
}

div.main > header {
	color: #fafafa;
	background-color: #56a0d3;
	margin-top: 1em;
	margin-bottom: 2em;
	border: 0.2em solid #66b0e3;
	box-shadow: 0 0 8px #56a0d3;
	padding: 0.25em 1em;
}

div.main > header a {
	color: #fafafa;
	text-shadow: 0 0 2px #333;
	font-weight: bold;
}

div.main > header a:hover {
	animation: header-hover-link 0.5s;
	text-shadow: 0 0 6px white;
}

div.main > header > h1 {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}

div.main > header > nav {
	display: inline-block;
	vertical-align: middle;
}

div.main > header > nav > ul > li {
	display: inline-block;
	margin: 0 1em;
}

div.main > header > nav > ul > li:first-child {
	margin-left: 0;
}

main {
	margin-left: 12px;
	margin-right: 12px;
}

main h2,
main h3 {
	margin: 0;
}

main > header {
	display: inline-block;
}

main > header .title {
	padding: 0 0.25em;
}

main > header > hr {
	background-color: #333;
	border: none;
	box-shadow: 0 1px 2px #333;
	height: 2px;
}

main > article {
	overflow: hidden;
	max-width: 50em;
}

main > article a {
	color: #56A0D3;
}

main > article a:hover {
	animation: article-hover-link 0.25s;
	color: white;
}

article > header {
	color: #222;
	padding: 0 0.25em;
	display: inline-block;
}

article > header > hr {
	background-color: #333;
	border: none;
	box-shadow: 0 1px 2px #333;
	height: 1px;
	margin-top: 0.1em;
}

article > header h2 {
	margin: 0.25em 0;
}

article > header a {
	color: #56A0D3;
}

header .info-container {
	margin: 0;
	padding: 0 0.25em;
}

header .info {
	margin: 0 1em;
	font-size: smaller;
}

header time.info {
	margin-left: 0;
}

article > div.entry,
article > div.page {
	padding: 0 0.5em;
}

footer {
	text-align: center;
	font-size: smaller;
	margin: 1em 0;
}

article ul {
	list-style-type: disc;
}

article ul > li {
	margin: 1em 0;
}

div.btc {
	display: inline-block;
}

div.btc img {
	width: 200px;
	padding: 3px;
	box-shadow: 0 0 3px #000 inset;
	background-color: white;
	display: block;
}

@keyframes header-hover-link {
	from {
		text-shadow: inherit;
	}
	to {
		text-shadow: 0 0 6px white;
	}
}

@keyframes article-hover-link {
	from {
		color: #56A0D3;
	}
	to {
		color: white;
	}
}

